# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* Complete simple arithmetic with Python
* List data science libraries

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Matplotlib
3. GGplot
4. Seaborn

|Data Science Tools|
|:----------------:|
| VS Code|
| R Studio|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Keanu Jardim